* {
  box-sizing: inherit;
}
body {
  box-sizing: border-box;
}
/* To arrow not move when scroll  */
.slider-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.items-container {
  display: flex;
  max-width: 1000px;
  overflow-x: scroll;
  justify-content: center;
  scrollbar-width: none;
}
.single-item-container {
  display: flex;
  padding: 20px;
  cursor: pointer;
  align-items: center;
}
.image {
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

.items-container::-webkit-scrollbar {
  display: none;
}

.arrow-left {
  position: absolute;
  top: 50%;
  left: 32px;
  width: 56px;
  height: 56px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.arrow-right {
  position: absolute;
  top: 50%;
  right: 32px;
  width: 56px;
  height: 56px;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
